<!DOCTYPE html>
<html>
<head>
    <title>Verification Code</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #e0e7ff; padding: 20px; margin: 0;">
<div style="background-color: #ffffff; padding: 40px; border-radius: 12px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); max-width: 500px; width: 100%; text-align: center; margin: auto; border: none;">
    <h1 style="font-size: 24px; color: #333333; margin-bottom: 20px;">Verify</h1>
    <p style="font-size: 16px; color: #666666; margin-bottom: 20px;">Your code was sent to you via email</p>
    <div style="display: flex; justify-content: center; gap: 10px; margin-bottom: 20px;">
        <div style="width: 180px; height: 60px;background-color: lightgrey; justify-items: center; color: #34b904; text-align: center; line-height: 60px; letter-spacing: 8px; font-weight: 900; font-size: 28px; border-radius: 8px; margin: 20px auto; padding: 8px" th:text="${code}"></div>

    </div>
    <a href="#" style="display: inline-block; padding: 15px 30px; font-size: 16px; color: #ffffff; background-color: #007bff; border-radius: 8px; text-decoration: none;">Verify</a>
    <p style="margin-top: 20px; font-size: 14px; color: #666666;">Didn’t receive code? <a href="#" style="color: #007bff; text-decoration: none;">Request again</a></p>
</div>
</body>
</html>
